/* 
style3.css
ENSF 381 Lab 3 Exercise 3
February 7th, 2025

Kohinoor Chauhan - 30204155
Sabrina Li - 30173044
*/

.Container{
    display: flex;
    flex-direction: row;
}
.item {
    flex: 1;

    padding: 20px;
    margin: 5px;
    background-color: lightblue;
    border: 1px solid darkblue;
    text-align: center;
}
.item img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px;
}