/* 
style3.css
ENSF 381 Lab 3 Exercise 3
February 7th, 2025

Kohinoor Chauhan - 30204155
Sabrina Li - 30173044
*/

.Nav-Bar {
    display: flex;
    flex-direction: row;
    background-color: #333;
}
.nav-item {
    padding: 5px;
    margin: 20px;
    border-radius: 5px;

    text-align: center;
    font-size: 12px;
    color: white;
}
.nav-item a {
    padding: 0px;
    margin: 0px;

    text-decoration: none;
    /* NOTE: gets rid of underline on link */
}
.nav-item:hover{
    background-color: #bdbbbb;
}

.Drop-Box {
    display: none;
    position: absolute;
    /* NOTE: absolute -> relative to parent */
    flex-direction: column;

    margin-top: 10px;
}
.drop-item{
    border: 1px solid lightgrey;
    background-color: white;

    padding: 5px;
    min-width: 160px;

    text-align: left;
    color: black;
}
.drop-item a {
    padding: 0px;
    margin: 0px;

    text-decoration: none;
}
.nav-item:hover .Drop-Box{
    display: flex;
}

.Container{
    display: flex;
    flex-direction: row;
}
.item {
    flex: 1;

    padding: 20px;
    margin: 5px;
    background-color: lightblue;
    border: 1px solid darkblue;
    text-align: center;
}
.item img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px;
}